  .main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100vh;
  }
  .main-section{
    display: flex;
  }
  .img{
    height : 80vh;
    width : 80vh;
  }
  .text{
    display: flex;
    flex-direction: column;
    height : 80vh;
    width : 80vh;
  }