.footer {
  display: flex;
  margin-top: 10%;
  border-top: solid 1px rgb(0, 0, 0);
  height: 40vh;
}
.logo h2 {
  font-size: 40px;
  letter-spacing: 3px;
  margin-left: 30px;
  font-family: 'Cinzel', serif;
}
.contact h3 {
  font-weight: 500;
  font-family: 'Roboto';
  margin-left: 10vw;
  margin-right: 20px;
  margin-top: 25px;
}
.contact p {
  font-weight: 300;
  font-family: 'Roboto';
  margin-left: 10vw;
  margin-right: 20px;
  margin-top: 20px;
}
.client h3 {
  font-weight: 500;
  font-family: 'Roboto';
  margin-left: 15vw;
  margin-right: 20px;
  margin-top: 25px;
}
.client p {
  font-weight: 300;
  font-family: 'Roboto';
  margin-left: 15vw;
  margin-right: 20px;
  margin-top: 20px;
}
.menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.menu h3 {
  font-weight: 500;
  font-family: 'Roboto';
  margin-left: 15vw;
  margin-right: 20px;
  margin-top: 25px;
}
.menu button * {
  font-weight: 300;
  font-family: 'Roboto';
  margin-left: 15vw;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.footer p {
  cursor: pointer;
}

.footerButton {
  background-color: white;
  border: none;
}
