@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.mainContent {
  height: 100%;
}
.button {
  cursor: pointer;
}
p {
  font-family: 'Roboto';
  font-weight: 300;
}
a{
  color:black;
}
a:visited{
  color : black;
}