.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  font-weight: 300px;
}
.left {
  margin: 20px;
}
.left ul li a {
  padding-bottom: 5px;
  font-weight: 300;
  font-size: 18px;
  color: black;
  font-family: 'Roboto';
  margin: 15px;
}
.left ul li a:hover {
  transition: 0.6s ease;
  border-bottom: solid black 1px;
}
.right ul li a:hover {
  transition: 0.6s ease;
  border-bottom: solid black 1px;
}
.logo {
  margin: 20px;
}
.logo a {
  letter-spacing: 2px;
  font-family: 'Cinzel', serif;
  font-weight: 300;
  font-size: 18px;
  color: black;
  font-size: 30px;
}
.right {
  margin: 20px;
}
.right ul li a {
  padding-bottom: 5px;
  font-weight: 300;
  font-size: 18px;
  color: black;
  font-family: 'Roboto';
  margin: 15px;
}
.headerButton {
  background-color: white;
  border: none;
}
