.mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 85vw;
}
.mainContent .title {
  margin-top: 20vh;
}
.mainContent .title h2 {
  font-family: 'Roboto';
  font-weight: 300;
}
/* form */
.adviceContent {
  margin-top: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.content div {
  height: 100%;
}
form {
  margin-top: 10px;
}
select {
  outline: none;
}
.gender {
  width: 30vw;
  margin-top: 10px;
  padding: 10px 20px;
  border: solid 1px rgb(180, 180, 180);
  border-radius: 5px;
}
.age {
  width: 30vw;
  margin-top: 10px;
  padding: 10px 20px;
  border: solid 1px rgb(180, 180, 180);
  border-radius: 5px;
}
.interest {
  width: 30vw;
  margin-top: 10px;
  padding: 10px 20px;
  border: solid 1px rgb(180, 180, 180);
  border-radius: 5px;
}
.category {
  margin-top: 10px;
  width: 30vw;
  padding: 10px 20px;
  border: solid 1px rgb(180, 180, 180);
  border-radius: 5px;
}
.color {
  margin-top: 10px;
  width: 30vw;
  padding: 10px 20px;
  border: solid 1px rgb(180, 180, 180);
  border-radius: 5px;
}
.inputFormButton {
  font-family: 'Roboto';
  border: solid 1px;
  border-radius: 5px;
  color: white;
  background-color: black;
  margin-top: 20px;
  padding: 10px 20px;
}

.adviceContentContainer button * {
  color: white;
}
