.main-container {
  display: flex;
  justify-content: center;
}
.content {
  border-radius:10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  height: 40vh;
  width: 85vw;
}
.img {
  width: 80vh;
  height: 80vh;
}
.img img {
  width: 100%;
  height: 100%;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15vw;
  height: 35vh;
  font-family: 'Roboto';
}
.info b {
  margin: 10px;
}
.name{
  font-size : 16px;
}
.price{
  font-size : 16px;
}
.info p {
  margin-left: 10px;
  margin-bottom: 5px;
}
.detail {
  font-family: 'Roboto';
  display: flex;
  width: 45vw;
  height: 35vh;
}
.detail p {
  font-weight: 300;
  font-size: 20px;
  margin-top: 30px;
}
.listContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 85vw;
}
