.recommendText p {
  width: 100%;
  font-size: 25px;
  font-weight: 300;
  margin-top: 10%;
  font-family: 'Roboto';
}
.grid-rows-4 {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  grid-template-rows: repeat(4, minmax(0, 1fr));
}
.column {
  width: 20vw;
  height: 60vh;
  margin-top: 10vh;
}
.name,
.price {
  width: 18vw;
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 300;
}
.column img {
  width: 100%;
}
.product {
  /* background-color: black; */
  width: 18vw;
  height: 18vw;
  margin-left: calc(10vw / 2);
  margin-right: calc(10vw / 2);
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.imgSize {
  width: 18vw;
  height: 18vw;
}
