.mainSection {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.productInfo {
  height: 80vh;
  width: 43.5vw;
}
.title p:nth-child(1) {
  margin-left: 30px;
  font-size: 20px;
  font-family: 'Roboto';
}
.title p:nth-child(2) {
  font-weight: 300;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Roboto';
}
.brand p:nth-child(1) {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 20px;
  font-family: 'Roboto';
}
.brand p:nth-child(2) {
  font-weight: 300;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Roboto';
}
.price p:nth-child(1) {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 20px;
  font-family: 'Roboto';
}
.price p:nth-child(2) {
  font-weight: 300;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Roboto';
}
.size p:nth-child(1) {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 20px;
  font-family: 'Roboto';
}
.size p:nth-child(2) {
  font-weight: 300;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Roboto';
}
.desc p {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Roboto';
}
.button button {
  color : black;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 30px;
  padding: 10px 20px;
  background-color: white;
  border: solid 1px grey;
  border-radius: 2px;
}
.button button:hover {
  color: white;
  transition: 0.6s ease;
  background-color: black;
}
.imgs {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.img img {
  transition: transform 0.2s;
  margin-right: 20px;
}
.img img:hover {
  transform: scale(1.1);
}
.converse2 {
  transition: transform 0.2s;
  margin-right: 20px;
}
.converse2:hover {
  transform: scale(1.1);
}
.converse3 {
  transition: transform 0.2s;
  margin-right: 20px;
}
.converse3:hover {
  transform: scale(1.1);
}
