.content-title {
  display: flex;
  margin: 40px;
  justify-content: center;
}
.content-title h2 {
  font-family: 'Roboto';
  font-weight: 300;
}
.centerContent {
  width: 85vw;
  display: flex;
  justify-content: space-around;
}
.topSection {
  display: flex;
  justify-content: center;
}
.topSectionImg {
  width: 100%;
}
.topSectionTxt {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 100;
  font-family: 'Roboto';
  color: white;
  position: absolute;
}
.topSectionButton {
  cursor: pointer;
  font-weight: 300;
  font-family: 'Roboto';
  color: white;
  background: none;
  border: solid 1px white;
  padding: 8px 40px;
  margin-top: 15vh;
  position: absolute;
}
.topSectionButton:hover {
  color: black;
  transition: 0.6s ease;
  background-color: white;
}
.top-section {
  display: flex;
  justify-content: center;
  width: 22vw;
}
