.topBanner img {
  width: 100%;
}
.topBanner {
  display: flex;
  align-items: center;
}
.topBanner .name {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
}
.topBanner .name p {
  font-family: 'Roboto';
  color: white;
  font-weight: 300;
  font-size: 20px;
  margin-left: 40px;
  position: absolute;
}
.topBanner .info h1 {
  text-align: center;
  font-family: 'Roboto';
  color: white;
  font-weight: 100;
}
.topBanner .info {
  width: 30vw;
  position: absolute;
  display: flex;
  margin-left: 65%;
  /* align-items: center; */
}
